<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Java Famous Error & Exception</title>
  <!-- Import echarts lib by CDN -->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
  <style>
    /* Ensure the charts are centered and in a row */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f4f4f4;
    }
    .chart-container {
      display: flex;
      justify-content: space-around;
      width: 95%;
      height: 80vh;
    }
    .chart {
      width: 50%;
      height: 70%;
      margin-top: 40px;
    }
  </style>
</head>
<body>
<h1>Error and Exception that get frequently Discussed</h1>

<div class="chart-container">
  <div id="rft-barchart" class="chart"></div>
  <div id="xft-barchart" class="chart"></div>
</div>

<script th:inline="javascript">
  let errorFreTop = /*[[${errorFreTop}]]*/ [];
  let exceptionFreTop = /*[[${exceptionFreTop}]]*/ [];

  let colors = [
    '#ff6e0d', '#eab700', '#0bc441', '#00a0da',
    '#8B0000', '#006400', '#4B0082', '#ea1387',
    '#d2d90d', '#41d5c6', '#8528de', '#ff4d31',
    '#1e53ff', '#0a8c8c', '#bd43ae', '#6ddc00'
  ];

  function lightenHexColor(hex, factor = 0.3) {
    hex = hex.replace('#', '');
    if (hex.length !== 6) return hex;
    let r = parseInt(hex.substring(0, 2), 16);
    let g = parseInt(hex.substring(2, 4), 16);
    let b = parseInt(hex.substring(4, 6), 16);
    r = Math.min(255, r + factor * (255 - r));
    g = Math.min(255, g + factor * (255 - g));
    b = Math.min(255, b + factor * (255 - b));
    return "#" + ((1 << 24) | (Math.round(r) << 16) | (Math.round(g) << 8) | Math.round(b)).toString(16).slice(1).toUpperCase();
  }
  function selColor(index, ls) {
    let co = colors[index % colors.length];
    for (let i=0; i<ls; i++)
      co = lightenHexColor(co);
    return co;
  }

  // Helper function to process and sort the data
  function prepareChartData(oriData) {
    return Object.entries(oriData).sort((a, b) => {
      return (b[1].questions + b[1].answers + b[1].comments) - (a[1].questions + a[1].answers + a[1].comments);
    }).map(([key, value]) => ({
      name: key,
      questions: value.questions,
      answers: value.answers,
      comments: value.comments
    }));
  }
  let barDataRFT = prepareChartData(errorFreTop);
  let barDataXFT = prepareChartData(exceptionFreTop);

  // General function to create a stacked bar chart
  function createStackedBarChart(containerId, data, title, chartType) {
    let chart = echarts.init(document.getElementById(containerId));
    let chartOption = {
      title: {
        text: title + ' ' + data.length,
        left: 'center',
        textStyle: {
          fontSize: 20,
          color: '#000000'
        }
      },
      legend: {
        top: '7%',
        right: '5%',
        orient: "vertical",
        textStyle: {color: '#333', fontSize: 12},
        data: [
          {name: 'In Comments', itemStyle: {color: selColor(0, 2)}},
          {name: 'In Answers', itemStyle: {color: selColor(0, 1)}},
          {name: 'In Questions', itemStyle: {color: selColor(0, 0)}}
        ]
      },
      toolbox: {feature: {
          dataView: {show: true, readOnly: false, lang: ['DataView', 'close', 'refresh']},
          saveAsImage: {}
      }},
      tooltip: {
        trigger: 'item',
        formatter: function (params) {
          let {name, seriesName, value, color} = params;
          let colorDot = `<span style="display: inline-block; width: 10px; height: 10px; background-color: ${color}; border-radius: 50%; margin-right: 10px;"></span>`;
          let topicData = (chartType === 'Error') ? errorFreTop[name] : exceptionFreTop[name];
          let total = topicData.questions + topicData.answers + topicData.comments;
          return `<b>${name}</b><br/>${colorDot}${seriesName}  ${value}/<b>${total}</b>`;
        }
      },
      xAxis: {
        type: 'category',
        name: chartType,
        nameTextStyle: { fontSize: 14, color: '#555' },
        data: data.map(item => item.name),
        axisLabel: { interval: 0, rotate: 30 }
      },
      yAxis: {
        type: 'value',
        name: 'Frequency',
        nameTextStyle: { fontSize: 14, color: '#555' },
      },
      series: [
        {
          name: 'In Questions',
          type: 'bar',
          stack: 'frequency',
          data: data.map(item => item.questions),
          itemStyle: {color: function(params) {return selColor(params.dataIndex, 0);}},
        },
        {
          name: 'In Answers',
          type: 'bar',
          stack: 'frequency',
          data: data.map(item => item.answers),
          itemStyle: {color: function(params) {return selColor(params.dataIndex, 1);}},
        },
        {
          name: 'In Comments',
          type: 'bar',
          stack: 'frequency',
          data: data.map(item => item.comments),
          itemStyle: {color: function(params) {return selColor(params.dataIndex, 2);}},
        }
      ]
    };
    chart.setOption(chartOption);
  }
  createStackedBarChart('rft-barchart', barDataRFT, 'Error Frequency of Top', 'Error');
  createStackedBarChart('xft-barchart', barDataXFT, 'Exception Frequency of Top', 'Exception');
</script>

</body>
</html>
